/*
  ==============================
  RESET & BASE
  ==============================
*/
label {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-primary-medium);
    color: hsl(var(--neutral-0));
}

input {
    display: block;
    width: 100%;
    padding: var(--spacing-3) var(--spacing-4);
    border: 2px solid hsl(var(--neutral-500));
    border-radius: 12px;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-primary-regular);
    color: hsl(var(--neutral-300));
}

input:not(:focus) {
    cursor: pointer;
}

input::placeholder {
    color: inherit;
}

/*
  ==============================
  USER INFO FORM
  ==============================
*/
.user-info-container {
    display: flex;
    justify-content: center;
}

.user-info {
    display: flex;
    flex-direction: column;
    width: min(48.0rem, 90vw);
    gap: var(--spacing-6);
    padding: var(--spacing-7) 0;
}

input, .drop-zone, .user-avatar {
    margin-top: var(--spacing-2);
    background-color: hsl(var(--neutral-700) / 0.25);
    backdrop-filter: blur(2px);
}

input, .drop-zone {
    transition: background-color 0.15s ease-in;
}

.drop-zone.hidden, .user-avatar.hidden {
    display: none;
}

input:hover, .drop-zone:hover {
    background-color: hsl(var(--neutral-700) / 0.65);
}

.drop-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-4);
    padding: var(--spacing-4);
    border: 2px dashed hsl(var(--neutral-500));
    border-radius: 12px;
    cursor: pointer;
}

.drop-zone.highlight {
    background-color: hsl(var(--neutral-700) / 0.65);
}

.drop-zone__icon {
    padding: var(--spacing-1);
    border: 1px solid hsl(var(--neutral-500) / 0.4);
    border-radius: 12px;
    background-color: hsl(var(--neutral-700) / 0.4);
    transition: border-color 0.15s ease-in, background-color 0.15s ease-in, box-shadow 0.15s ease-in;
}

.drop-zone:hover .drop-zone__icon,
.drop-zone.highlight .drop-zone__icon {
    border-color: hsl(var(--neutral-300) / 0.6);
    background-color: hsl(var(--neutral-700) / 0.8);
    box-shadow: 0 2px hsl(var(--neutral-900) / 0.8);
}

.drop-zone__content {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-primary-regular);
    line-height: 1.4;
    text-align: center;
    color: hsl(var(--neutral-300));
}

.user-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-4);
    padding: var(--spacing-4);
    border: 2px dashed hsl(var(--neutral-500));
    border-radius: 12px;
}

.user-avatar__img {
    width: 4.8rem;
    height: auto;
    border: 1px solid hsl(var(--neutral-500));
    border-radius: 12px;
}

.user-avatar__btns {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.user-avatar__btn {
    padding: 0.5rem 1.0rem;
    border-radius: 4px;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-primary-medium);
    color: hsl(var(--neutral-300));
    background-color: hsl(var(--neutral-700) / 0.6);
    cursor: pointer;
    transition: background-color 0.15s ease-in;
}

.user-avatar__btn:hover {
    background-color: hsl(var(--neutral-700) / 0.8);
}

.description {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
    margin-top: var(--spacing-2);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-primary-medium);
}

.description--info {
    color: hsl(var(--neutral-500));
}

.description--error {
    color: hsl(var(--orange-700));
}

.description--info .description__icon-error,
.description--error .description__icon-info {
    display: none;
}

.description--empty {
    display: none;
}

.submit-btn {
    padding: var(--spacing-3) 0;
    border-radius: 12px;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-primary-extrabold);
    cursor: pointer;
    color: hsl(var(--neutral-900));
    background-color: hsl(var(--orange-500));
    transition: transform 0.15s ease-in, background-color 0.15s ease-in, box-shadow 0.15s ease-in;
}

.submit-btn:hover {
    background-color: hsl(var(--orange-700));
    box-shadow: 0 4px hsl(var(--orange-500));
}

.submit-btn:active {
    transform: translateY(4px);
    box-shadow: 0 0 hsl(var(--orange-500));
}

/*
  ==============================
  MEDIA QUERIES
  ==============================
*/
@media (prefers-reduced-motion: reduce) {
    input, .drop-zone, .drop-zone__icon, .user-avatar__btn, .submit-btn {
        transition: none;
    }
}

@media (max-width: 640px) {
    .site-header__heading {
        font-size: max(3.75rem, 9.375vw);
    }

    .site-header__content {
        font-size: max(1.5rem, 3.75vw);
    }
}